body {
	padding-bottom: 70px;
	background: #ccc;
}

.lgheading {
	color: #4aaaa5;
}

#porth {
	margin-left: 50px;
}

#yourname {
	background: #4aaaa5;
	color: #ffffff;
	width: 300px;
	text-align: center;
	margin: 0px 0px 0px 184px;
	padding: 20px 0px;
}

.nav {
	margin-right: 150px;
	margin-top: 30px;
}

.paragraph {
	margin-top: 20px;
	text-align: left;
}

.sidebar {
	text-align: center;
	width: 270px;
}

.panel-heading {
	background: #ffffff;
	height: 40%;
}

#connect-head {
	margin: 0px;
}

.panel-content {
	height: 75px;
}

#entire-content {
	padding: 0;
}

#head {
	padding: 0;
}

.main-section {
	background: #ffffff;
}

/*Images*/

#bio-image {
	width: 395px;
	height: 222px;
	border: black solid 2px;
}


.socialmediapic {
	width: 50px;
	height: 50px;
	margin-top: 10px;
}

#foot {
	background: #666666;
	border-top: solid #4aaaa5 6px;	
}


#copyright {
	color: #ffffff;
	text-align: center;
}


form {
	width:80%;
	height: 80%;
}

.lab {
	float: left;
	width: 100%;
	margin-top: 5px;
}

input, textarea {
	width: 100%;
	margin-top: 6px;
}

textarea {
	height: 120px;
}

/*Placeholder headings*/
.piclab {
	position: relative;
	background: #4aaaa5;
	color: #ffffff;
	width: 200px;
	padding: 10px;
	text-align: center;
	bottom: 75px;
	left: 40px;
}

.piclab:hover {
	background: #418e8a;
}

.pic {
	margin-left: 40px;
}

#rps {
	margin-left: 40px;
}

#tba {
	position: relative;
	top: 100px; 
}