body {
	padding-bottom: 70px;
	background: #ccc;
}

.lgheading {
	color: #4aaaa5;
}

#yourname {
	background: #4aaaa5;
	color: #ffffff;
	padding: 20px;
	margin:0px 30px 0px -6px;
}

.nav {
	padding: 0;
	margin-top: 30px;
}

.nav-label {
	position: relative;
	bottom: 80px;
	color: #ffffff;
	text-align: center;
}

.porth {
	width: 320px;
	background: #4aaaa5;
	margin-left: 4px;
	padding: 10px 0;
}
.paragraph {
	margin-top: 20px;
	text-align: left;
}

#entire-content {
	padding: 0;
}

#head {
	padding: 0;
}

.main-section {
	background: #ffffff;
}

/*Images*/

#bio-image {
	width: 395px;
	height: 222px;
	border: black solid 2px;
}


.socialmediapic {
	width: 50px;
	height: 50px;
	margin-bottom: 40px;
}

#foot {
	background: #666666;
	border-top: solid #4aaaa5 6px;	
}


#copyright {
	color: #ffffff;
	text-align: center;
}


/* form {
	width:80%;
	height: 80%;
} */

.lab {
	float: left;
	width: 100%;
	margin-top: 5px;
}

input, textarea {
	width: 100%;
	margin-top: 6px;
}

textarea {
	height: 120px;
}

.btn {
	background: #4aaaa5;
	color: #ffffff;
	margin-left: 15px;
	margin-bottom: 30px;
}

/*Placeholder headings*/
.pic {
	margin-left: 40px;
}

#rps {
	margin-left: 40px;
}

#tba {
	position: relative;
	top: 100px; 
}